.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}

.btn,
.inline-btn {
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn {
    background-color: var(--orange);
}

.delete-btn,
.inline-delete-btn {
    background-color: var(--red);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.transparent-btn,.success-btn {
    border-radius: .5rem;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    color: var(--light-color);
    cursor: pointer;
    text-align: center;
    border: var(--border);
}

.transparent-btn:hover,.success-btn:hover {
    background-color: var(--black) !important;
    color: var(--white) !important;
}

.transparent-btn,.success-btn i {
    margin-right: 1rem;
}

.success-btn{
    background-color: rgb(62, 205, 62) !important;
    color: white !important;
    border: none !important;
}

.streams-selected .transparent-btn {
    background-color: var(--main-color);
    color: #fff;
}

.no-border-btn {
    cursor: pointer;
    width: auto;
    font-weight: bold;
    transition: 0.2s ease;
    margin: 1rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: var(--black);
    background-color: transparent;
}

.no-border-btn:hover {
    background-color: var(--black);
    color: var(--white);
}


.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.locked {
    opacity: 0.5 !important;
    /* Reduce opacity to indicate disabled state */
    cursor: not-allowed !important;
    /* Change cursor to indicate not clickable */
}

/* DO NOT DELETE  *****
 .courses .more-btn {
    margin-top: 2rem;
    text-align: center;
}
.courses .more-btn p{
   color: var(--light-color);
   font-size: 1.5rem;
   letter-spacing: 0.2rem;
} */


.save-list-btn {
    font-size: 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.save-list-btn i {
    color: var(--black);
    margin-right: 1rem;
}

.save-list-btn span {
    color: var(--light-color);
}

.save-list-btn:hover {
    background-color: var(--black);
}

.save-list-btn:hover i {
    color: var(--white);
}

.save-list-btn:hover span {
    color: var(--white);
}

.button-container {
    width: 100%;
}

.button-container-button {
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    /* margin-left: 1.5rem; */
    margin: .5rem;
    float: right;
    background-color: var(--light-bg);
    color: var(--black);

}