
.courses .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.courses .box-container .box {
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
}

.courses .box-container .box .tutor {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.courses .box-container .box .tutor img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.courses .box-container .box .tutor h2 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;
}

.courses .box-container .box .tutor span {
    font-size: 1rem;
    color: var(--light-color);
}

.courses .box-container .box .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 20rem;
    object-fit: cover;
}

.courses .box-container .box .title {
    font-size: 2rem;
    color: var(--black);
    margin-top: .5rem;
    padding: .5rem 0;
}

.courses .more-btn {
    margin-top: 2rem;
    text-align: center;
}
.courses .more-btn p{
   color: var(--light-color);
   font-size: 1.5rem;
   letter-spacing: 0.2rem;
}

.progress-bar-container {
    width: 100%;
    height: 10px; /* Adjust height as needed */
    /* background-color: #f0f0f0; Background color of the progress bar container */
  }
  
  .progress-bar {
    height: 100%;
    background-color: rgb(0, 195, 0); /* Color of the progress bar */
  }