
.popup {
    position: fixed;
    top: -60px;
    right: 10px;
    padding: var(--small-padding-box);
    font-size: var(--small-font);
    color: #fff;
    border-radius: var(--medium-gap);
    animation: popup 5s ease-in-out;
    z-index: 5000;
}

@keyframes popup {
    10%, 90% {
        top: 60px;
    }

    100% {
        top: -60px;
    }
}

.txt-center {
    text-align: center;
}

.disabled {
    visibility: hidden !important;
    display: none !important;
}

.is-visible {
    visibility: visible !important;
    opacity: 1 !important;
    /* Below may be required for other browsers */
    /* -webkit-transition: opacity 0.3s 0, visibility 0 0 !important;
    -moz-transition: opacity 0.3s 0, visibility 0 0 !important;
    transition: opacity 0.3s 0, visibility 0 0 !important; */
}

.green {
    color: rgb(1, 164, 1);
}

.white-bg{
    background-color: var(--white);
}
.stars i {
    color: var(--main-color) !important;
    font-size: 1.5rem !important;
}

.bold-text {
    font-size: 3rem;
    color: var(--black);
    /* margin-bottom: 1rem; */
}

.bold-text-main {
    font-size: 3rem;
    color: var(--main-color);
    /* margin-bottom: 1rem; */
}
.ngtv-i {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: .5rem;
    background-color: var(--black);
    line-height: 4.4rem;
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}
.title {
    font-size: 2rem;
    color: var(--black);
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.link {
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
    margin-top: .5rem;
}

.link:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.input {
    width: 100%;
    margin: 1rem 0;
    background-color: var(--light-bg);
    color: var(--black);
    padding: 1.4rem;
    font-size: 1.8rem;
}

.txt-area {
    height: 15rem;
    resize: none;
}

.para {
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;

}

.video-container .flex-container .box {
    position: relative;
}

i.es-play-lg {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #fff;
    border-radius: .5rem;
}

.box:hover i.es-play-lg {
    display: flex;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
}

.progress-bar {
    height: 100%;
    background-color: rgb(0, 195, 0);
}

.bullet {
    margin-right: 2rem;
}
