 /* Importing Font  */
 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

 /* Root Level Confiugration */
 :root {
     --main-color: #c14d4d;
     --red: #e74c3c;
     --orange: #f39c12;
     --white: #fff;
     --black: #2c3e50;
     --light-color: #676767;
     --light-bg: #eee;
     --border: .1rem solid rgba(0, 0, 0, .2);
     --small-font: 1.5rem;
     --medium-font: 2rem;
     --heading-font: 2.5rem;
     --logo-font: 2.8rem;
     --small-gap: 1rem;
     --medium-gap: 2rem;
     --tiny-border: .5rem;
     --small-padding-box: 1rem 2rem;
     --padding: 1.8rem;
 }

 * {
     font-family: 'Nunito', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
 }

 *::selection {
     background-color: var(--main-color);
     color: #fff;
 }

 html {
     font-size: 62.5%;
     overflow-x: hidden;
 }

 body {
     background-color: var(--light-bg);
     padding-left: 0;
 }

 body.dark {
     --white: #222;
     --black: #fff;
     --light-color: #aaa;
     --light-bg: #333;
     --border: .1rem solid rgba(255, 255, 255, .2);

 }

 /* When sidebar enabled  */
 body.active {
     padding-left: 30rem;
 }

 #main-page {
     min-height: 90vh;
     padding-bottom: 2rem;
 }

 section {
     padding: var(--small-padding-box);
     max-width: 1440px;
     margin: 0 auto;
 }

 p {
     line-height: 1.5;
     color: var(--light-color);
     font-size: 1.6rem;
     padding: 1rem;
 }

 a {
     text-decoration: none;
     color: var(--black);
 }


@media(max-width:991px) {
    html {
        font-size: 55%;
    }
}


@media(max-width:1200px) {
    body.active{
        padding-left: 0;
    }

    .side-bar {
        transition: .2s linear;
        left: -30rem;
    }

    .side-bar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgb(0, 0, 0, 0.7);
    }
}


@media only screen and (min-width: 600px) {
    .cd-forms-modal-container {
        margin: 4em auto;
    }

    .cd-forms-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .about .row .image img {
        height: auto;
    }

    .contact .row .image img {
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

@media(max-width:380px) {}

/* 
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
} */