.banner-slide .slider i {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--light-color);
}

.banner-slide img {
    animation-name: fade-in;
    animation-duration: 3s;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

@keyframes fade-in {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.streams {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.streams-selected .box p {
    line-height: 1.5;
    color: var(--light-color);
    font-size: 2rem;
}




.text-course .row {
    gap: 2rem;
    padding: 2rem;
}


.course-attributes {
    font-size: 1.7rem;
    padding-top: .5rem;
    color: var(--light-color);
}

.course-attributes i {
    color: var(--main-color);
    margin-right: 1.5rem;
}

#course-level {
    margin-left: 2rem;
}

.signal-bars {
    display: inline;
    margin-left: 0.5rem;
}

.signal-bars .bar {
    width: 0;
    display: inline-flex;
    margin-right: 0;
    background-color: #fff;
    border: var(--border);
}

.bar:nth-of-type(1) {
    height: .7rem;
}

.bar:nth-of-type(2) {
    height: 1.2rem;
}

.bar:nth-of-type(3) {
    height: 1.7rem;
}

.user {
    text-align: center;
    padding: 1.3rem 0;
}

.user h2 {
    display: inline-block;
    padding: 0 1rem;
    font-size: 2rem;
    color: var(--black);
}

#username {
    margin: .7rem 0;
    padding: 0 1rem;
}

.user p {
    font-size: 1.3rem;
    color: var(--light-color);
}

.editable {
    background-color: var(--light-bg);
    color: var(--black);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.edit-field {
    font-size: 1rem;
    color: var(--light-color);
    margin-left: .5rem;
    cursor: pointer;
    display: inline;
}

.edit-field.inactive {
    display: none;
}

.account-settings {
    padding-top: 2rem;
    margin-top: 5rem;
    border-top: var(--border);
    text-align: end;
}

.profile-pic {
    display: inline-block;
}

.upload-profile-photo {
    position: relative;
    left: 7rem;
    z-index: 100;
    top: 2rem;
}

.upload-profile-photo input {
    display: none;
}

.upload-profile-photo span {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: var(--border);
    background-color: var(--light-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
    padding: 1.5rem;
    color: var(--black);
}

.upload-profile-photo span i {
    position: absolute;
    font-size: 1.5rem;
}

.upload-profile-photo span:hover {
    transform: scale(1.2);
}

.profile-fields {
    padding: inherit;
    color: var(--black);
    font-size: 1.5rem;
}

.profile-fields .social-info {
    padding: 1rem;
}

.profile-fields .social-info .field-icon {
    padding-right: 2.5rem;
    font-size: 2.2rem;
}