

.reviews .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.reviews .box-container .box {
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
    padding-top: 1.5rem;
}

.reviews .box-container .box p {
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
}

.reviews .box-container .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.reviews .box-container .box .user img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .box-container .box .user h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;

}

.reviews .box-container .box .user .stars i {
    color: var(--main-color);
    font-size: 1.5rem;
}
