.ratings label {
    color: rgb(220, 218, 209);
    font-size: 4rem;
}

.ratings>input {
    display: none;
}

.ratings {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}

.ratings>label {
    cursor: pointer;
    transition: 0.3s;
}

.ratings>input:not(:checked)~label:hover,
.ratings>input:not(:checked)~label:hover~label {
    color: rgba(237, 195, 45, 0.931);

}

.ratings>input:checked~label,
.ratings>input:checked~label~label {
    color: rgb(255, 200, 0);

}