
#sideBar {
    position: fixed;
    top: 0;
    left: -31rem;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    z-index: 1200;
    transition: .2s linear;
    overflow-y: scroll;
}

.side-bar .course-title {
    padding: 2rem;
    font-size: 2rem;
    color: var(--black);
    border-bottom: var(--border);
}

.side-bar .profile {
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;

}

.side-bar .profile h2 {
    font-size: 2rem;
    color: var(--black);
}

.side-bar .profile span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.side-bar .navbar a {
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}

.side-bar .navbar a i {
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;

}

.side-bar .navbar a span {
    color: var(--light-color);
}

.side-bar .navbar a:hover {
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}


.side-bar .navbar a {
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
    color: var(--light-color);
}

.side-bar .navbar a i {
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
}

.side-bar .navbar a i.arrow {
    float: right;
    padding-top: .5rem;
}

.side-bar .navbar a span {
    color: var(--light-color);
}

.side-bar .navbar a:hover {
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

#sideBar.active {
    left: 0rem;
}

.sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.sidebar ul li a {
    animation-name: slide-in;
    animation-duration: .5s;
}

.sidebar .sub-menu ul {
    display: none;
}

.sidebar .menu-options.active span {
    color: var(--main-color);
}

.sub-menu-options.active a{
    color: var(--main-color);
}
.sidebar .menu-options.video-list.active{
    background-color: var(--light-bg);
}
.sidebar .menu-options.video-list.active span{
    color: var(--light-color);
}
.sidebar .menu-options.video-list a{
    border-bottom:var(--border);
}
.sidebar .menu-options.video-list img{
    padding-top: 2rem;
    height:15rem;
}