
.streams {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.streams a {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background-color: var(--light-bg);
    cursor: pointer;
}

.streams a i {
    margin-right: 1rem;
    color: var(--black);
}

.streams a span {
    color: var(--light-color);
}

.streams a:hover {
    background-color: var(--black) !important;
}

.streams a:hover i {
    color: var(--white) !important;
}

.streams a:hover span {
    color: var(--white) !important;
}

.streams-selected .streams a {
    background-color: var(--main-color);
}

.streams-selected .streams a span {
    color: var(--black);
}


.streams-others .streams a {
    background-color: var(--white);
}

.streams-selected .box p {
    line-height: 1.5;
    color: var(--light-color);
    font-size: 2rem;
}
