
.popup {
    position: fixed;
    bottom: -60px;
    right: 10px;
    padding: var(--small-padding-box);
    font-size: var(--small-font);
    color: #fff;
    border-radius: var(--medium-gap);
    animation: popup 5s ease-in-out;
    z-index: 5000;
}

@keyframes popup {
    10%, 90% {
        bottom: 10px;
    }

    100% {
        bottom: -60px;
    }
}




/* 
.image-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30rem;
    margin-bottom: 2rem;
}


 .animated-background {
    border-radius: .5rem;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: black;
    background: linear-gradient(to right, var(--white) 8%, var(--light-bg) 30%, var(--white) 52%);
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -20px 0
    }

    100% {
        background-position: 468px 0
    }
} */

.error-container {
    color: var(--black);
    text-align: center;
    font-size: 2.5rem;
}

.error {
    color: var(--main-color);
    padding: 1rem;
    margin: 2rem 2rem;
}

.error h2 {
    padding-top: 2rem;
    font-size: 20rem;
    line-height: 18rem;

}

.error p {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    letter-spacing: .8rem;
}

.error-text {
    margin-bottom: 10rem;
    color: var(--light-color);
}
#main-page{
    min-height: 90vh;
    padding-bottom: 2rem;
}


@media(max-width:1200px) {
    body.active{
        padding-left: 0;
    }

    .side-bar {
        transition: .2s linear;
        left: -30rem;
    }

    .side-bar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgb(0, 0, 0, 0.7);
    }


}



@media only screen and (min-width: 600px) {
    .cd-forms-modal-container {
        margin: 4em auto;
    }

    .cd-forms-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .about .row .image img {
        height: auto;
    }

    .contact .row .image img {
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

@media(max-width:380px) {}

/* 
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
} */