@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

:root {
    --main-color: #df5050;
    --red: #e74c3c;
    --orange: #f39c12;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --small-font: 1.5rem;
    --medium-font: 2rem;
    --heading-font: 2.5rem;
    --logo-font: 2.8rem;
    --small-gap: 1rem;
    --medium-gap: 2rem;
    --tiny-border: .5rem;
    --small-padding: 1rem 2rem;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
    padding-left: 0;
}

body.dark {
    --white: #222;
    --black: #fff;
    --light-color: #aaa;
    --light-bg: #333;
    --border: .1rem solid rgba(255, 255, 255, .2);
   
}

body.active {
    padding-left: 30rem;

}

.popup {
    position: fixed;
    bottom: -60px;
    right: 10px;
    padding: var(--small-padding);
    font-size: var(--small-font);
    color: #fff;
    border-radius: var(--medium-gap);
    animation: popup 5s ease-in-out;
    z-index: 5000;
}

@keyframes popup {
    10%, 90% {
        bottom: 10px;
    }

    100% {
        bottom: -60px;
    }
}

.heading {
    padding-bottom: 1.8rem;
    border-bottom: var(--border);
    font-size: var(--heading-font);
    color: var(--black);
    text-transform:capitalize;
    margin-bottom: var(--medium-gap);
}

section {
    padding:var(--small-padding);
    max-width: 1440px;
    margin: 0 auto;
}

/* unfiltered css  */


/* *::-webkit-scrollbar {
     height: .5rem;
     width: 1rem;
 } */

/* *::-webkit-scrollbar-track {
     background-color: transparent;
 }

 *::-webkit-scrollbar-thumb {
     background-color: var(--main-color);
 } */


.image-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30rem;
    margin-bottom: 2rem;
}


 .animated-background {
    border-radius: .5rem;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: black;
    background: linear-gradient(to right, var(--white) 8%, var(--light-bg) 30%, var(--white) 52%);
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -20px 0
    }

    100% {
        background-position: 468px 0
    }
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}

.btn,
.inline-btn {
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn {
    background-color: var(--orange);
}

.delete-btn,
.inline-delete-btn {
    background-color: var(--red);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.transparent-btn {
    border-radius: .5rem;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    color: var(--black);
    cursor: pointer;
    text-align: center;
    border: var(--border);
}

.transparent-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.error-container {
    color: var(--black);
    text-align: center;
    font-size: 2.5rem;
}

.error {
    color: var(--main-color);
    padding: 1rem;
    margin: 2rem 2rem;
}

.error h2 {
    padding-top: 2rem;
    font-size: 20rem;
    line-height: 18rem;

}

.error p {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    letter-spacing: .8rem;
}

.error-text {
    margin-bottom: 10rem;
    color: var(--light-color);
}





.footer {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 1rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 1000;
}

.footer span {
    color: var(--main-color);
}


@media(max-width:1200px) {
    body.active{
        padding-left: 0;
    }

    .side-bar {
        transition: .2s linear;
        left: -30rem;
    }

    .side-bar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgb(0, 0, 0, 0.7);
    }

    .side-bar .close-side-bar {
        display: block;
    }
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    #search-btn {
        display: inline-block;
    }

    .header .flex {
        padding: .5rem 1rem;
    }

    .logo img {
        display: none;
    }

    .header .flex .search-form {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .search-form input {
        width: 100%;
    }

    .header .flex .search-form label {
        display: none;
    }

    .header .flex .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }

    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .about .row .image img {
        height: auto;
    }

    .playlist .row .col .thumb {
        height: 20rem;
    }

    .contact .row .image img {
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

@media(max-width:380px) {}

/* 
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
} */