.course-details .accordion-header .expand {
    float: right;
}

.course-details .flex-container .accordion {
    flex-direction: column;
    width: 100%;
    color: var(--black);
}

.course-details .accordion-item:hover,a:hover  {
    color: var(--light-color);
}

.course-details .accordion-header {
    padding: 2rem;
    cursor: pointer;
    font-size: 1.7rem;
    border-bottom: var(--border);
}

.course-details .accordion-content {
    display: none;
    padding: 1rem;
}

.course-details .accordion-item.active .accordion-content {
    display: block;
}

.course-details .flex-container .course-list {
    list-style: none;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}